nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

    nav button {
        color: white;
        background: transparent;
        border: none;
        margin-right: 20px;
        cursor: pointer;
        font-size: 16px;
    }

        nav button:hover {
            text-decoration: underline;
        }

.dashboard-content {
    padding-top: 60px; 
}
button {
    font-weight: bold;
}